// J2 FW2020 theme
//
// Distributed under the MIT license, https://github.com/johnfairh/J2/blob/master/LICENSE
//
// This file holds the syntax highlighting color scheme for light and dark
// modes.  Originally derived from the `Material Dark` and `Material Light`
// themes from the `prism-themes` project, https://github.com/PrismJS/prism-themes.
//
@media (prefers-color-scheme: light) {
  code,
  pre {
    background: #f4f4f6;
  }

  .language-css > code,
  .language-sass > code,
  .language-scss > code {
    color: #f76d47;
  }

  .pr-atrule {
    color: #7c4dff;
  }

  .pr-attr-name {
    color: #39adb5;
  }

  .pr-attr-value {
    color: #f6a434;
  }

  .pr-attribute {
    color: #f6a434;
  }

  .pr-boolean {
    color: #7c4dff;
  }

  .pr-builtin {
    color: #39adb5;
  }

  .pr-cdata {
    color: #39adb5;
  }

  .pr-char {
    color: #39adb5;
  }

  .pr-class {
    color: #39adb5;
  }

  .pr-class-name {
    color: #6182b8;
  }

  .pr-comment {
    color: #aabfc9;
  }

  .pr-constant {
    color: #7c4dff;
  }

  .pr-deleted {
    color: #e53935;
  }

  .pr-doctype {
    color: #aabfc9;
  }

  .pr-entity {
    color: #e53935;
  }

  .pr-function {
    color: #7c4dff;
  }

  .pr-hexcode {
    color: #f76d47;
  }

  .pr-id {
    font-weight: bolder;
    color: #7c4dff;
  }

  .pr-important {
    font-weight: bolder;
    color: #7c4dff;
  }

  .pr-inserted {
    color: #39adb5;
  }

  .pr-keyword {
    color: #7c4dff;
  }

  .pr-number {
    color: #f76d47;
  }

  .pr-operator {
    color: #39adb5;
  }

  .pr-prolog {
    color: #aabfc9;
  }

  .pr-property {
    color: #39adb5;
  }

  .pr-pseudo-class {
    color: #f6a434;
  }

  .pr-pseudo-element {
    color: #f6a434;
  }

  .pr-punctuation {
    color: #39adb5;
  }

  .pr-regex {
    color: #6182b8;
  }

  .pr-selector {
    color: #e53935;
  }

  .pr-string {
    color: #f6a434;
  }

  .pr-symbol {
    color: #7c4dff;
  }

  .pr-tag {
    color: #e53935;
  }

  .pr-unit {
    color: #f76d47;
  }

  .pr-url {
    color: #e53935;
  }

  .pr-variable {
    color: #e53935;
  }
}

@media (prefers-color-scheme: dark) {
  code,
  pre {
    background: #24282c;
  }

  .language-css > code,
  .language-sass > code,
  .language-scss > code {
    color: #fd9170;
  }

  .pr-atrule {
    color: #c792ea;
  }

  .pr-attr-name {
    color: #ffcb6b;
  }

  .pr-attr-value {
    color: #a5e844;
  }

  .pr-attribute {
    color: #a5e844;
  }

  .pr-boolean {
    color: #c792ea;
  }

  .pr-builtin {
    color: #ffcb6b;
  }

  .pr-cdata {
    color: #80cbc4;
  }

  .pr-char {
    color: #80cbc4;
  }

  .pr-class {
    color: #ffcb6b;
  }

  .pr-class-name {
    color: #f2ff00;
  }

  .pr-comment {
    color: #616161;
  }

  .pr-constant {
    color: #c792ea;
  }

  .pr-deleted {
    color: #f66;
  }

  .pr-doctype {
    color: #616161;
  }

  .pr-entity {
    color: #f66;
  }

  .pr-function {
    color: #c792ea;
  }

  .pr-hexcode {
    color: #f2ff00;
  }

  .pr-id {
    font-weight: bolder;
    color: #c792ea;
  }

  .pr-important {
    font-weight: bolder;
    color: #c792ea;
  }

  .pr-inserted {
    color: #80cbc4;
  }

  .pr-keyword {
    color: #c792ea;
  }

  .pr-number {
    color: #fd9170;
  }

  .pr-operator {
    color: #89ddff;
  }

  .pr-prolog {
    color: #616161;
  }

  .pr-property {
    color: #80cbc4;
  }

  .pr-pseudo-class {
    color: #a5e844;
  }

  .pr-pseudo-element {
    color: #a5e844;
  }

  .pr-punctuation {
    color: #89ddff;
  }

  .pr-regex {
    color: #f2ff00;
  }

  .pr-selector {
    color: #f66;
  }

  .pr-string {
    color: #a5e844;
  }

  .pr-symbol {
    color: #c792ea;
  }

  .pr-tag {
    color: #f66;
  }

  .pr-unit {
    color: #fd9170;
  }

  .pr-url {
    color: #f66;
  }

  .pr-variable {
    color: #f66;
  }
}
