// J2 FW2020 theme
//
// Distributed under the MIT license, https://github.com/johnfairh/J2/blob/master/LICENSE

// This is imported from `main.scss` after the bootstrap variables
// are defined so we can use them in our color scheme, but before
// the bootstrap components are defined so that they will take note
// of our color scheme.

$gray-10: #fefeff;

@function white($alpha) {
  @return rgba($white, $alpha);
}

// Light-mode / Dark-mode via CSS variables, idea is to not
// expose these variables outside of this file (and variables.scss...)

:root {
  color-scheme: light dark;

  // top bar
  --titlebar-color: #{$gray-200};
  --titlebar-bg: #000f29;
  // search fields
  --input-placeholder-color: #{$gray-600};
  --input-color: #{$gray-700};
  --input-bg: #{$gray-10};
  // nav, breadcrumbs, menu
  --navigation-color: #{$gray-900};
  --navigation-secondary-color: #{$gray-600};
  --navigation-bg: #{$gray-100};
  --navigation-border-color: #{$gray-400};
  // article
  --article-color: #{$gray-900};
  --article-link-color: #0070c9;
  --article-bg: #{$gray-10};
  // entire page
  --font-weight-normal: #{$font-weight-normal};
}

@media (prefers-color-scheme: dark) {
  :root {
    --titlebar-color: #{white(.82)};
    --titlebar-bg: #1e2028;
    --navigation-color: #{white(.82)};
    --navigation-secondary-color: #{white(.6)};
    --navigation-bg: #202428;
    --navigation-border-color: #484c50;
    --article-color: #{white(.87)};
    --article-link-color: #1095ef;
    --article-bg: #1c2024;
    --input-placeholder-color: #{white(.3)};
    --input-color: #{white(.87)};
    --input-bg: #34383f;
    --font-weight-normal: 500;
  }
}

// Utilities defined in terms of the CSS variables for use
// outside of this file.

@mixin titlebar-colors {
  color: var(--titlebar-color);
  background-color: var(--titlebar-bg);
  a {
    color: var(--titlebar-color);
  }
}

$navigation-border: 1px solid var(--navigation-border-color);
$navigation-color: var(--navigation-color);
$navigation-secondary-color: var(--navigation-secondary-color);

@mixin navigation-base-colors {
  color: var(--navigation-color);
  background-color: var(--navigation-bg);
}

@mixin navigation-colors {
  @include navigation-base-colors();
  a {
    color: var(--navigation-color);
  }
}

@mixin article-colors {
  color: var(--article-color);
  background-color: var(--article-bg);
  a {
    color: var(--article-link-color);
  }
}

// Bootstrap overrides to make it respect dark mode/light mode.

$navbar-dark-brand-color: var(--titlebar-color);
$navbar-dark-color: var(--titlebar-color);
$navbar-dark-brand-hover-color: var(--titlebar-color);
$input-placeholder-color: var(--input-placeholder-color);
$dropdown-link-hover-bg: var(--navigation-border-color);
$dropdown-link-hover-color: var(--navigation-color);
$dropdown-border-color: var(--navigation-border-color);
$table-color: var(--article-color);
$table-border-color: var(--navigation-border-color);
$table-accent-bg: var(--navigation-bg);
