// J2 FW2020 theme
//
// Distributed under the MIT license
// https://github.com/johnfairh/J2/blob/master/LICENSE
//

// This is imported from `main.scss` after the bootstrap variables
// are defined so we can use them in our color scheme, but before
// the bootstrap components are defined so that they will take note
// of our color scheme.

$gray-10: #fefeff;

@function white($alpha) {
  @return rgba($white, $alpha);
}

// Light-mode / Dark-mode via CSS variables, idea is to not
// expose these variables outside of this file (and variables.scss...)

:root {
  color-scheme: light dark;

  // top bar
  --titlebar-color: #{$gray-200};
  --titlebar-bg: #000f29;
  // search fields
  --input-placeholder-color: #{$gray-600};
  --input-color: #{$gray-700};
  --input-bg: #{$gray-10};
  // nav, breadcrumbs, menu
  --navigation-color: #{$gray-900};
  --navigation-secondary-color: #{$gray-700};
  --navigation-bg: #{$gray-100};
  --navigation-highlight-bg: #{$gray-200};
  --navigation-highlight-border: #{$gray-200};
  --navigation-border-color: #{$gray-400};
  // article
  --article-color: #{$gray-900};
  --article-link-color: #0070c9;
  --article-secondary-color: #{$gray-600};
  --article-bg: #{$gray-10};
  // entire page
  --font-weight-normal: 400;
  --font-weight-demi-bold: 500;
  // declaration callout
  --declaration-flash-color: #80bfff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --titlebar-color: #{white(.82)};
    --titlebar-bg: #262628;
    --navigation-color: #{white(.82)};
    --navigation-secondary-color: #{white(.7)};
    --navigation-bg: #202428;
    --navigation-highlight-bg: #303438;
    --navigation-highlight-border: #484c50;
    --navigation-border-color: #484c50;
    --article-color: #{white(.87)};
    --article-link-color: #1095ef;
    --article-secondary-color: #{white(.6)};
    --article-bg: #1c2024;
    --input-placeholder-color: #{white(.3)};
    --input-color: #{white(.87)};
    --input-bg: #34383f;
    --font-weight-normal: 500;
    --font-weight-demi-bold: 600;
    --declaration-flash-color: #6073cb;
  }
}

// Misc color exports

$j2-callout-color: #17a2b8;
$j2-callout-warning-color: #dc3545;
$j2-callout-deprecated-color: #e90;
$j2-callout-declaration-color: var(--declaration-flash-color);

// Utilities defined in terms of the CSS variables for use
// outside of this file.

@mixin j2-titlebar-colors {
  color: var(--titlebar-color);
  background-color: var(--titlebar-bg);
  a {
    color: inherit;
  }
}

$j2-navigation-border: 1px solid var(--navigation-border-color);
$j2-navigation-color: var(--navigation-color);
$j2-navigation-secondary-color: var(--navigation-secondary-color);
$j2-navigation-highlight-bg: var(--navigation-highlight-bg);
$j2-navigation-highlight-border: 1px solid var(--navigation-highlight-border);

@mixin j2-navigation-colors {
  color: $j2-navigation-color;
  background-color: var(--navigation-bg);
  a {
    color: inherit;
    &:hover {
      opacity: .6;
    }
  }
}

$j2-article-color: var(--article-color);
$j2-article-secondary-color: var(--article-secondary-color);
$j2-article-bg: var(--article-bg);

@mixin j2-article-colors {
  color: $j2-article-color;
  background-color: $j2-article-bg;
  a {
    color: var(--article-link-color);
    &:hover {
      text-decoration: underline;
      opacity: inherit;
    }
  }
}

@mixin j2-article-dim-links() {
  color: $j2-article-color !important;
  &:hover {
    text-decoration: none !important;
    opacity: .6 !important;
  }
}

// Bootstrap overrides to make it respect dark mode/light mode.

$navbar-dark-brand-color: var(--titlebar-color);
$navbar-dark-color: var(--titlebar-color);
$navbar-dark-brand-hover-color: var(--titlebar-color);
$input-placeholder-color: var(--input-placeholder-color);
$dropdown-link-hover-bg: var(--navigation-border-color);
$dropdown-link-hover-color: var(--navigation-color);
$dropdown-border-color: var(--navigation-border-color);
$table-color: var(--article-color);
$table-border-color: var(--navigation-border-color);
$table-accent-bg: var(--navigation-bg);
$code-color: var(--article-color);
$pre-color: $code-color;
$hr-border-color: var(--navigation-border-color);
$breadcrumb-bg: var(--navigation-bg);
