// J2 FW2020 theme
//
// Distributed under the MIT license, https://github.com/johnfairh/J2/blob/master/LICENSE

// Colours

$col-header-footer-bg: $gray-800;
$col-header-footer-fg: $gray-200;
$col-navigation-bg:    $gray-100;
$col-navigation-fg:    $body-color;
$col-body-fg:          $body-color;
$col-body-bg:          $body-bg;

$navigation-border-color: $gray-400;
$navigation-border: 1px solid $navigation-border-color;

@mixin header-footer-cols {
  color: $col-header-footer-fg;
  background-color: $col-header-footer-bg;
}

@mixin navigation-cols {
  color: $col-navigation-fg;
  background-color: $col-navigation-bg;
}

@mixin body-cols {
  color: $col-body-fg;
  background-color: $col-body-bg;
}

body {
  @include body-cols();
}

/*
.j2-details {
  background-color: var(--green);
}

.j2-index {
  background-color: var(--blue);
}

.j2-abstract {
  background-color: var(--orange);
}

.j2-title {
}
*/

.j2-breadcrumb {
  @include navigation-cols();
  border-bottom: $navigation-border;
}

.j2-nav {
  @include navigation-cols();
  min-width: 140px;
  overflow-x: scroll;
  border-right: $navigation-border;
}

.j2-footer {
  @include header-footer-cols();
}

.j2-titlebar {
  @include header-footer-cols();
  @extend .navbar-dark;
}

/* Nav width refinements */

@include media-breakpoint-up(lg) {
  .j2-nav {
    max-width: 300px;
    @supports (position: sticky) {
      position: sticky;
      top: 92px;
      max-height: subtract(100vh, 92px); /* XXX breadcrumbs + header */
      overflow-y: auto;
    }
  }

  .j2-titlebar {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  }

  .j2-breadcrumb-nav {
    @supports (position: sticky) {
      position: sticky;
      top: 56px;
      z-index: 1010; /* Must be less than titlebar for dropdown to work! */
    }
  }
}

/* Adjust for smalltext (XXX rems) */

.breadcrumb {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
}

/* ??? */

/* Searchbar */

.form-control::placeholder {
  color: $gray-400;
}

.navbar-nav form:focus-within {
  width: 60%;
}

/* Language-switcher menu, positioning and UI */

.j2-langmenu {
  padding: .75rem 1rem .25rem;
}

.dropdown-toggle:focus {
  outline: none;
}

.dropdown-menu {
  @include navigation-cols();
  top: 0;
  min-width: 0;
}

/* For footer: linespacing doesn't decrease when 'small' */
.small p {
  margin-bottom: .8rem;
}

/* Left navigation */
.j2-nav-list {
  padding-left: 0;
  line-height: 1.7;
  list-style-type: none;

  > li {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  ul {
    padding-left: .5rem;
    font-size: .95rem;
    list-style-type: none;
  }
}

.j2-nav-topic {
  display: block;
  color: $body-color;

  &:hover {
    color: $black;
    text-decoration: none;
  }

  &.active {
    font-weight: 600;
    color: $body-color;
  }
}

.j2-nav-item {
  @extend .j2-nav-topic;

  color: $gray-600;

  &:hover {
    color: $gray-800;
  }
}
