// J2 FW2020 theme
//
// Distributed under the MIT license, https://github.com/johnfairh/J2/blob/master/LICENSE

.j2-details {
  background-color: var(--green);
}

.j2-index {
  background-color: var(--blue);
}

.j2-abstract {
  background-color: var(--orange);
}

.j2-title {
  background-color: var(--pink);
}

.j2-breadcrumb {
  background-color: var(--yellow);
}

.j2-nav {
  min-width: 140px;
  overflow-x: scroll;
  background-color: #fbfbfb;
  border-right: 1px solid $gray-400;
}

.j2-footer {
  background-color: var(--indigo);
}

.j2-titlebar {
  background-color: var(--indigo);
}

/* Nav width refinements */

@include media-breakpoint-up(lg) {
  .j2-nav {
    max-width: 300px;
    @supports (position: sticky) {
      position: sticky;
      top: 75px;
      max-height: subtract(100vh, 75px); /* XXX breadcrumbs + header */
      overflow-y: auto;
    }
  }

  .j2-titlebar {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  }

  .j2-breadcrumb-nav {
    @supports (position: sticky) {
      position: sticky;
      top: 40px;
      z-index: 1010; /* Must be less than titlebar for dropdown to work! */
    }
  }
}

/* Adjust for smalltext (XXX rems) */

.breadcrumb {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
}

/* ??? */

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

/* Searchbar */

.form-control::placeholder {
  color: $gray-400;
}

.navbar-nav form:focus-within {
  width: 60%;
}

/* Language-switcher menu, positioning and UI */

.j2-langmenu {
  padding: .75rem 1rem .25rem;
}

.dropdown-toggle:focus {
  outline: none;
}

.dropdown-menu {
  top: 0;
  min-width: 0;
}

/* For footer: linespacing doesn't decrease when 'small' */
.small p {
  margin-bottom: .8rem;
}

/* Navigation */
.j2-nav-list-outer {
  padding-left: 0;
  line-height: 1.7;
  list-style-type: none;

  > li {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  ul {
    padding-left: .5rem;
    list-style-type: none;

    li {
      font-size: .95rem;
    }
  }

  a {
    display: block;
    color: $body-color;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }

  .active {
    font-weight: 600;
    color: $body-color;
  }
}

.j2-nav-item-inner a {
  color: $gray-600;
  &:hover {
    color: $gray-800;
  }
}
