// J2 FW2020 theme
//
// Distributed under the MIT license, https://github.com/johnfairh/J2/blob/master/LICENSE

// Dark mode abstractions that need to be propagated through
// Bootstrap's _variables.scss.
$input-bg: var(--input-bg);
$input-color: var(--input-color);
$font-weight-normal: var(--font-weight-normal);
$font-weight-demi-bold: var(--font-weight-demi-bold);

// General customizations
$breadcrumb-border-radius: 0;
$link-hover-color: inherit;
$link-hover-decoration: none;
$input-border-width: 0;
$code-font-size: 95%;
$transition-collapse: height 250ms;
