{{#breadcrumbs_menus.first}}
[{{{breadcrumbs_root}}}]({{{path_to_root}}}index.md)
{{#breadcrumbs}} / {{#url}}[{{{title}}}]({{{path_to_root}}}{{{.}}}){{/url}}{{^url}}{{{title}}}{{/url}}{{/breadcrumbs}}
{{/breadcrumbs_menus.first}}
