{{#.deprecation_md}}
⚠️  {{{l_deprecated}}}
  * {{{.}}}
{{/.deprecation_md}}
{{#.unavailable_md}}
⚠️  {{{l_unavailable}}}
  * {{{.}}}
{{/.unavailable_md}}
{{#.notes_md}}
ℹ️  {{{l_note}}}
  * {{{.}}}
{{/.notes_md}}
{{{.abstract_md}}}

{{{.discussion_md}}}
{{#.default_abstract_md}}
#### {{{l_default_implementation}}}
{{{.}}}
{{/.default_abstract_md}}

{{{.default_discussion_md}}}
