{{#prev}}[&laquo; {{{primary_title}}}]({{{path_to_root}}}{{{primary_url}}}) | {{/prev}}{{^prev}}[&laquo; {{{breadcrumbs_root}}}]({{{path_to_root}}}index.html) | {{/prev}}{{#next}}[{{{primary_title}}} &raquo;]({{{path_to_root}}}{{{primary_url}}}){{/next}}{{^next}}[{{{breadcrumbs_root}}} &raquo;]({{{path_to_root}}}index.html){{/next}}
