{{#.parameters.count}}
#### {{{l_parameters}}}
{{#.parameters}}
`{{{title}}}`: {{{parameter_md}}}

{{/.parameters}}
{{/.parameters.count}}
{{#.returns_md}}
#### {{{l_return_value}}}
{{{.}}}
{{/.returns_md}}
