<div class="col-auto d-none d-md-flex flex-column j2-nav" id="nav-column">
  {{#tocs}}
    <nav aria-label="{{{screen_reader_name}}}" class="{{{language}}}">
    <ul class="j2-nav-list">
      {{#toc}}
      <li class="j2-nav-group">
        {{> nav_item}}
      </li>
      {{/toc}}
    </ul>
  </nav>
  {{/tocs}}
</div>
