<div class="col-xl d-none d-xl-block j2-aux-nav" id="aux-nav-column">
  <div class="j2-aux-nav-wrapper">
    {{#topics_menu.count}}
    <h6 class="j2-inline-heading">Topics</h6>
    <nav aria-label="page">
      <ul class="j2-aux-group">
        {{#topics_menu}}
        <li><a href="#{{anchor_id}}">{{title}}</a></li>
        {{/topics_menu}}
      </ul>
    </nav>
    {{/topics_menu.count}}
    <h6 class="j2-inline-heading">Actions</h6>
    <ul class="j2-aux-group">
      {{^disable_search}}
      <li><a class="j2-aux-action" id="action-search" href="#" role="button" aria-keyshortcuts="/">Search (/)</a></li>
      {{/disable_search}}
      {{^hide_article_title}}
      {{^item_collapse_never}}
      <li><a class="j2-aux-action" id="action-collapse" href="#" role="button" aria-keyshortcuts="a">
        <span id="action-collapse-expand">Open all (a)</span>
        <span id="action-collapse-collapse" class="d-none">Close all (a)</span>
      </a></li>
      {{/item_collapse_never}}
      {{/hide_article_title}}
      {{#dual_language}}
      <li><a class="j2-aux-action" id="action-language" href="#" role="button" aria-keyshortcuts="l">
        <span class="j2-swift">Objective-C (l)</span>
        <span class="j2-objc">Swift (l)</span>
      </a></li>
      {{/dual_language}}
    </ul>
  </div>
</div>
