{{#deprecation_html}}
<div class="j2-callout j2-callout-deprecated">
  <div class="j2-callout-title" role=heading aria-level="6">Deprecated</div>
  {{{deprecation_html}}}
</div>
{{/deprecation_html}}
{{#unavailable_html}}
<div class="j2-callout j2-callout-unavailable">
  <div class="j2-callout-title" role=heading aria-level="6">Unavailable</div>
  {{{unavailable_html}}}
</div>
{{/unavailable_html}}
