<!--
FW2020 theme development
Copyright 2020 J2 Authors
Licensed under MIT (https://github.com/johnfairh/J2/blob/master/LICENSE)
-->
<!doctype html>
<html lang="{{language_tag}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <link rel="stylesheet" href="{{path_to_assets}}css/fw2020.css">
    {{#enable_katex}}
    <link rel="stylesheet" type="text/css" href="{{path_to_root}}css/katex.min.css"/>
    {{/enable_katex}}
    
   <title>{{#tab_title_prefix}}{{primary_page_title}} - {{/tab_title_prefix}}{{docs_title}}</title>
    {{{custom_head}}}
  </head>
  <body class="{{{default_language}}} {{#item_collapse_never}}j2-never-collapse{{/item_collapse_never}}" data-root-path="./{{path_to_root}}" data-doc-path="{{path_from_root}}" data-assets-path="{{path_to_assets}}">

  <!-- messages for search -->
  <div hidden>
    <span id="text-loading">Loading index...</span>
    <span id="text-failed">Failed to load index</span>
    <span id="text-notfound">No matches</span>
  </div>

  <header class="j2-header">
  {{> header}}
  {{> breadcrumbs}}
  </header>

  <div class="container-fluid">
    <div class="row">
      {{> nav}}
      <main class="col col-xl-8 j2-article px-lg-4 px-xl-5" id="article-column">
        <article class="j2-article-wrapper" id="main-content">

        <section>
          {{^hide_article_title}}
          <header>
            <h1 class="j2-anchor">
              {{#secondary_page_title}}
              <span class="{{{primary_title_language}}}">{{primary_page_title}}</span>
              <span class="{{{secondary_title_language}}} j2-secondary">{{.}}</span>
              {{/secondary_page_title}}
              {{^secondary_page_title}}
              <span>{{primary_page_title}}</span>
              {{/secondary_page_title}}
            </h1>
          </header>
          {{/hide_article_title}}
          {{#apology}}
            <div class="{{{language}}} j2-language-missing mb-3">{{title}}</div>
          {{/apology}}
          {{#def}}
          <div class="j2-callout {{{apology.no_apology_language}}} j2-callout-declaration">
            {{> declaration}}
          </div>

          <div class="clearfix">
            {{> availability}}
            {{> def_discussion}}
            {{> params_returns}}
          </div>
          {{/def}}
          {{#def.codehost_url}}
          <nav aria-label="item details" class="j2-main-item-nav">
            <a href="{{{.}}}">{{codehost_def_link}}</a>
          </nav>
          {{/def.codehost_url}}
          {{{content_html}}}
        </section>

        {{> topics}}

        {{#pagination}}
        <div class="flex-grow-1"></div>
        {{> pagination}}
        {{/pagination}}

        </article>
      </main>

      {{> aux_nav}}

    </div> <!-- end row -->

    {{> footer}}
  </div> <!-- container -->

  <script src="{{path_to_assets}}js/dependencies.min.js"></script>
  {{#enable_katex}}
  <script src="{{path_to_root}}js/katex.min.js"></script>
  {{/enable_katex}}
  <script src="{{path_to_assets}}js/fw2020.js"></script>
  </body>
</html>
