<!--
FW2020 theme development
Copyright 2020 J2 Authors
Licensed under MIT (https://github.com/johnfairh/J2/blob/master/LICENSE)
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <link rel="stylesheet" href="{{path_to_assets}}css/fw2020.css">
    
    <title>{{page_title}} - {{docs_title}}</title>
    {{{custom_head}}}
  </head>
  <body class="j2-swift" data-root-path="./{{path_to_root}}">

  <!-- messages for search -->
  <div hidden>
    <span id="text-loading">Loading index...</span>
    <span id="text-failed">Failed to load index</span>
    <span id="text-notfound">No matches</span>
  </div>

  <header class="j2-header">
  {{> header}}

  <!-- breadcrumb bar -->

  <nav aria-label="breadcrumb" class="small">
    <ol class="breadcrumb j2-breadcrumb">
      <li class="breadcrumb-item"><a href="{{path_to_root}}index.html">{{breadcrumbs_root}}</a></li>
      <li class="breadcrumb-item" aria-current="page">{{page_title}}</li>
    </ol>
  </nav>

  </header>

  <div class="container-fluid">
    <div class="row">
      {{> nav}}
      <main class="col col-xl-8 j2-article px-lg-4 px-xl-5" id="article-column">
        <article class="j2-article-wrapper" id="main-content">

        <section>
          {{^hide_article_title}}
          <header>
            <h1 class="j2-anchor">
              <span>{{page_title}}</span>
            </h1>
          </header>
          {{/hide_article_title}}
          {{#any_declaration}}
          <div class="j2-callout j2-callout-declaration">
            {{#swift_declaration_html}}
            <div class="j2-swift">
              <div class="j2-callout-title" role="heading" aria-level="6">Swift</div>
              <pre><code class="language-swift">{{{swift_declaration_html}}}</code></pre>
            </div>
            {{/swift_declaration_html}}
            {{#objc_declaration_html}}
            <div class="j2-objc">
              <div class="j2-callout-title" role="heading" aria-level="6">Objective-C</div>
              <pre><code class="language-swift">{{{objc_declaration_html}}}</code></pre>
            </div>
            {{/objc_declaration_html}}
          </div>
          {{> deprecation}}
          {{/any_declaration}}

          <div class="clearfix">
            {{#available}}
            <aside class="j2-availability mt-n3" role="note">
              <h6 class="j2-inline-heading">Availability</h6>
              <ul> <!-- TODO -->
              </ul>
            </aside>
            {{/available}}
            {{{abstract_html}}}
            {{{overview_html}}}
          </div>
        </section>

        {{> topics}}

        </article>
      </main>

      {{> aux_nav}}

    </div> <!-- end row -->

    {{> footer}}
  </div> <!-- container -->

  <script src="{{path_to_assets}}js/dependencies.min.js"></script>
  <script src="{{path_to_assets}}js/fw2020.js"></script>
  </body>
</html>
