<div class="navbar navbar-expand navbar-dark j2-titlebar">
  <div class="container-fluid ps-0 pe-0">
  <a class="visually-hidden-focusable visually-hidden fw-slightly-bold pe-2" href="#main-content">{{l_screenreader_skip}}</a>
  <a class="nav-item nav-link ps-0 pt-1 pe-2 d-md-none" id="nav-toggle-button" role="button" aria-controls="nav-column" aria-expanded="false" aria-label="{{l_nav_toggle_aria_label}}" href="#">
    <span class="navbar-toggler-icon"></span>
  </a>

  <div class="navbar-brand me-1 fw-slightly-bold">
    {{#brand_url}}<a href="{{{.}}}" rel="external">{{/brand_url}}
    {{^brand_url}}<a href="{{path_to_root}}index.html">{{/brand_url}}
    {{#brand_image_path}}
    <img src="{{path_to_root}}{{{.}}}" {{#brand_alt_text}}alt="{{.}}"{{/brand_alt_text}} {{#brand_title}}title="{{.}}"{{/brand_title}} width=30 height=30 class="d-none d-xxs-inline me-2 mt-n1">
    {{/brand_image_path}}
    {{docs_title}}</a>
  </div>
  {{#doc_coverage}}
  <span class="navbar-text j2-coverage fw-slightly-bold small d-none d-lg-inline-block me-2">({{doc_coverage}}{{l_pc_documented}})</span>
  {{/doc_coverage}}

  <div class="navbar-nav ms-auto justify-content-end flex-fill">

    {{^disable_search}}
    <form class="d-none d-md-block my-auto pe-2 ps-2" role="search">
      <input class="form-control form-control-sm w-100" type="search" placeHolder="{{l_search_placeholder}}" aria-label="{{l_search_aria_label}}" aria-keyshortcuts="/" data-search-format="span">
    </form>
    {{/disable_search}}

    {{#dual_language}}
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="language-menu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Swift</a>
      <div class="dropdown-menu dropdown-menu-end dropdown-menu-md-start" role="menu" aria-labelledby="language-menu">
        <a class="dropdown-item" href="" id="language-menu-swift" role="menuitem">Swift</a>
        <a class="dropdown-item" href="" id="language-menu-objc" role="menuitem">ObjC</a>
      </div>
    </div>
    {{/dual_language}}

    {{#codehost_github}}
    <a class="nav-item nav-link d-none d-sm-inline" rel="external" href="{{{codehost_url}}}">
      <svg class="j2-title-svg" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 16 16"><title>{{l_open_github}}</title><path fill="currentcolor" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </svg>
    </a>
    {{/codehost_github}}
    {{#codehost_gitlab}}
    <a class="nav-item nav-link d-none d-sm-inline" rel="external" href="{{{codehost_url}}}">
      <svg class="j2-title-svg" width="22" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 311">
        <title>{{l_open_gitlab}}</title>
        <defs>
          <style>.cls-1{fill:#fc6d26;}.cls-2{fill:#e24329;}.cls-3{fill:#fca326;}</style>
        </defs>
        <g transform="translate(-124.21 -124.01)">
          <path class="cls-1" d="m461.17 301.83-18.91-58.12-37.42-115.28a6.47 6.47 0 0 0-12.27 0l-37.42 115.21h-124.33l-37.42-115.21a6.46 6.46 0 0 0-12.26 0l-37.36 115.21-18.91 58.19a12.88 12.88 0 0 0 4.66 14.39l163.47 118.78 163.44-118.78a12.9 12.9 0 0 0 4.73-14.39"/>
          <path class="cls-2" d="m293 434.91 62.16-191.28h-124.29z"/>
          <path class="cls-1" d="m293 434.91-62.18-191.28h-87z"/>
          <path class="cls-3" d="m143.75 243.69-18.91 58.12a12.88 12.88 0 0 0 4.66 14.39l163.5 118.8z"/>
          <path class="cls-2" d="m143.78 243.69h87.11l-37.49-115.2a6.47 6.47 0 0 0-12.27 0z"/>
          <path class="cls-1" d="m293 434.91 62.16-191.28h87.14z"/>
          <path class="cls-3" d="m442.24 243.69 18.91 58.12a12.85 12.85 0 0 1-4.66 14.39l-163.49 118.71 149.2-191.22z"/>
          <path class="cls-2" d="m442.28 243.69h-87.1l37.42-115.2a6.46 6.46 0 0 1 12.26 0z"/>
        </g>
      </svg>
    </a>
    {{/codehost_gitlab}}
    {{#codehost_bitbucket}}
    <a class="nav-item nav-link d-none d-sm-inline" rel="external" href="{{{codehost_url}}}">
      <svg class="j2-title-svg" width="22" height="22" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <title>{{l_open_bitbucket}}</title>
        <defs>
          <linearGradient x1="104.953252%" y1="21.9210174%" x2="46.5685299%" y2="75.2344342%" id="linearGradient-1">
            <stop stop-color="#FFFFFF" stop-opacity="0.4" offset="7%"></stop>
            <stop stop-color="#FFFFFF" offset="100%"></stop>
          </linearGradient>
        </defs>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0, -2)">
          <path d="M60.67,25.12 L41.9,25.12 L38.75,43.51 L25.75,43.51 L10.4,61.73 C10.8865272,62.1507026 11.5068276,62.3846445 12.15,62.39 L52.89,62.39 C53.8807856,62.402752 54.7315432,61.6881156 54.89,60.71 L60.67,25.12 Z" fill="url(#linearGradient-1)" fill-rule="nonzero"/>
          <path d="M3,6.26 C2.40916454,6.25237968 1.84519911,6.50641255 1.45938714,6.95395443 C1.07357517,7.40149631 0.905409324,7.99673573 1,8.58 L9.49,60.12 C9.59434852,60.7470575 9.91659757,61.3171904 10.4,61.73 L10.4,61.73 C10.8865272,62.1507026 11.5068276,62.3846445 12.15,62.39 L27.91,43.51 L25.7,43.51 L22.23,25.12 L60.67,25.12 L63.37,8.59 C63.4645907,8.00673573 63.2964248,7.41149631 62.9106129,6.96395443 C62.5248009,6.51641255 61.9608355,6.26237968 61.37,6.27 L3,6.26 Z" fill="#FFFFFF" fill-rule="nonzero"/>
        </g>
      </svg>
    </a>
    {{/codehost_bitbucket}}
    {{#codehost_custom}}
      <a class="nav-item nav-link d-none d-sm-inline" rel="external" href="{{{codehost_url}}}">
        <img src="{{path_to_root}}{{{codehost_image_path}}}" {{#codehost_alt_text}}alt="{{.}}"{{/codehost_alt_text}} {{#codehost_title}}title="{{.}}"{{/codehost_title}} width="22" height="22" class="mt-n1">
      </a>
    {{/codehost_custom}}

    {{#docset_url}}
      <a class="nav-item nav-link d-none d-sm-inline" rel="alternate" href="{{{.}}}">
      <svg class="j2-title-svg" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 700 670">
        <title>{{l_open_dash}}</title>
        <path fill="currentcolor" d="m0 0 132.58 160.54h130.76v0.0312c63.501 0.196 140.87-6.9887 193.12 10.227 26.125 8.6076 43.475 19.899 57.578 40.781 14.103 20.882 26.733 55.737 25.781 118.52-0.8784 57.953-16.7 88.91-38.672 112.89-21.972 23.98-54.208 41.154-90.703 51.953-28.462 8.4219-55.314 10.153-80.547 11.953v-266.25h-160v419.92l71.328 7.8125s103.75 12.802 214.61-20c55.429-16.401 115.46-45.078 163.28-97.266 47.816-52.187 79.327-127.83 80.703-218.59 1.3028-85.935-16.743-156.6-53.125-210.47-36.382-53.871-89.369-86.47-140.16-103.2-50.787-16.733-101.87-18.272-145.08-18.504-43.211-0.2316-78.502 0.0768-97.578 0.0176v2e-3h-131.31z"/>
      </svg>
    </a>
    {{/docset_url}}

    {{#page_localization}}
    <div class="nav-item dropdown d-none d-xxs-block">
      <a class="nav-link dropdown-toggle j2-trans-dropdown" href="#" id="trans-menu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{page_localization}}</a>
      <div class="dropdown-menu dropdown-menu-end" role="menu" aria-labelledby="trans-menu">
        {{#localizations}}
          <a class="dropdown-item j2-translation" href="#" role="menuitem" data-language-tag="{{tag}}" data-language-tag-path="{{tag_path}}"}>{{title}}</a>
        {{/localizations}}
      </div>
    </div>
    {{/page_localization}}

  </div>
  </div>
</div>

<!-- narrow-style searchbar -->

{{^disable_search}}
<div class="container-fluid j2-titlebar d-md-none">
  <div class="row">
    <div class="col">
      <form class="pb-2">
        <input class="form-control form-control-sm" type="search" placeHolder="Search" aria-label="{{l_search_aria_label}}" aria-keyshortcuts="/" data-search-format="div">
      </form>
    </div>
  </div>
</div>
{{/disable_search}}
