<ul class="j2-nav-sublist">
  {{#children}}
  <li>
    {{#.active}}
    <span class="j2-nav-item active" aria-current="page">{{title}}</span>
    {{/.active}}
    {{^.active}}
      <a class="j2-nav-item" aria-current="page" href="{{path_to_root}}{{url}}">{{title}}</a>
    {{/.active}}
    {{#children.count}}
    {{> nav_section }}
    {{/children.count}}
  </li>
  {{/children}}
</ul>
