<section>
  {{#.title_html}}
  <a name="//apple_ref/cpp/Section/{{dash_name}}" class="dashAnchor"></a>
  <h3 class="j2-anchor" id="{{anchor_id}}">
    <span data-anchor-id="{{anchor_id}}">{{{title_html}}}</span>
  </h3>
  {{/.title_html}}
  {{#.overview_html}}
  <div class="j2-topic-overview">
    {{{.overview_html}}}
  </div>
  {{/.overview_html}}
  {{#items}}
  {{^any_declaration}}
  <div class="j2-item" id="{{anchor_id}}">
    <a class="j2-item-title" href="{{url}}">{{title}}</a>
  </div>
  {{/any_declaration}}
  {{#any_declaration}}
  <section id="{{anchor_id}}" class="j2-item">
    <a name="//apple_ref/cpp/{{dash_type}}/{{dash_name}}" class="dashAnchor"></a>
    <h4 class="sr-only">{{title}}</h4>
    <a class="j2-item-title{{#usage_discouraged}}-discouraged{{/usage_discouraged}}" data-toggle="collapse" href="#_{{anchor_id}}" role="button" aria-expanded="false" aria-controls="_{{anchor_id}}"><code><span class="j2-swift">{{{swift_title_html}}}</span></code></a>
    {{#.abstract_html}}
    <div class="j2-item-overview">
      {{abstract_html}}
    </div>
    {{/.abstract_html}}
    <div class="collapse j2-item-popopen-wrapper" id="_{{anchor_id}}">
      <div class="j2-item-popopen">
        <div class="j2-item-popopen-pointer" role="none"></div>
        <div class="j2-item-popopen-body">
          {{> deprecation}}
          <div class="clearfix">
            {{#default_impl_abstract}}
            <div class="j2-callout j2-callout-note">
              <div class="j2-callout-title" role=heading" aria-level="5">Note</div>
              <p>Protocol method with default implementation</p>
            </div>
            {{/default_impl_abstract}}
            {{#from_protocol_extension}}
            <div class="j2-callout j2-callout-note">
              <div class="j2-callout-title" role=heading" aria-level="5">Note</div>
              <p>Protocol extension method</p>
              </div>
            {{/from_protocol_extension}}
            {{{def.abstract_html}}}
            {{{def.overview_html}}}
          </div>
          {{#default_impl_abstract}}
          <h5>Default Implementation</h5>
          {{{default_impl_abstract}}}
          {{/default_impl_abstract}}
          <h5>Declaration</h5>
          <div class="j2-item-declaration">
            {{#def.swift_declaration_html}}
            <div class="j2-swift">
              <div class="j2-callout-title" role="heading" aria-level="6">Swift</div>
              <pre><code class="language-swift">{{{def.swift_declaration_html}}}</code></pre>
            </div>
            {{/def.swift_declaration_html}}
            {{#def.objc_declaration_html}}
            <div class="j2-objc">
              <div class="j2-callout-title" role="heading" aria-level="6">Objective-C</div>
              <pre><code class="language-objectivec">{{{def.objc_declaration_html}}}</code></pre>
            </div>
            {{/def.objc_declaration_html}}
          </div>

          {{#parameters.count}}
          <h5>Parameters</h5>
          <table class="j2-param-table">
            <tbody>
             {{#parameters}}
             {{ parameter}}
             {{/parameters}}
            </tbody>
          </table>
          {{/parameters.count}}
          {{#def.returns_html}}
          <h5>Return Value</h5>
          {{{def.returns_html}}}
          {{/def.returns_html}}
          <nav class="j2-item-nav" aria-label="item details">
            {{#url}}
            <span class="j2-item-nav-item"><a href="{{{path_to_root}}}{{{url}}}">Show members</a></span>
            {{/url}}
            {{#github_token_url}}
            <span class="j2-item-nav-item"><a href="{{{github_token_url}}}">Show on GitHub</a></span>
            {{/github_token_url}}
          </nav>
        </div>
      <div>
    </div>
  </section>
  {{/any_declaration}}
  {{/items}}
</section>
