{{#deprecation_message}}
<div class="j2-callout j2-callout-deprecated">
  <div class="j2-callout-title" role=heading aria-level="5">Deprecated</div>
  {{{deprecation_message}}}
</div>
{{/deprecation_message}}
{{#unavailable_message}}
<div class="j2-callout j2-callout-unavailable">
  <div class="j2-callout-title" role=heading aria-level="5">Unavailable</div>
  {{{unavailable_message}}}
</div>
{{/unavailable_message}}
