<div class="col-auto d-none d-md-flex flex-column j2-nav" id="nav-column">
  <nav aria-label="swift" class="j2-swift">
    <ul class="j2-nav-list">
      {{#structure}}
      <li class="j2-nav-group">
        <a class="j2-nav-item" href="{{path_to_root}}{{url}}">{{section}}</a>
        <ul class="j2-nav-sublist">
          {{#children}}
          <li>
            <a class="j2-nav-item" href="{{path_to_root}}{{url}}">{{name}}</a>
          </li>
          {{/children}}
        </ul>
      </li>
      {{/structure}}
    </ul>
  </nav>
</div>
