{{^.url}}
  <a class="j2-nav-item active" href="#" aria-current="page">{{title}}</a>
{{/.url}}
{{#.url}}
  <a class="j2-nav-item" href="{{^same_page}}{{{path_to_root}}}{{/same_page}}{{{.}}}">{{title}}</a>
{{/.url}}
{{#.children.count}}
  {{> nav_section}}
{{/.children.count}}
