<nav aria-label="paging" class="j2-pagination pb-3 pt-2">
  <div id="pagination-prev" class="flex-fill">
  {{#prev}}
    {{<pagination_prev}}
    {{$class}}{{{primary_language}}}{{/class}}{{$url}}{{{primary_url}}}{{/url}}{{$title}}{{primary_title}}{{/title}}
    {{/pagination_prev}}
    {{<pagination_prev}}
    {{$class}}{{{secondary_language}}} j2-secondary{{/class}}{{$url}}{{{secondary_url}}}{{/url}}{{$title}}{{secondary_title}}{{/title}}
    {{/pagination_prev}}
  {{/prev}}
  {{^prev}}
    {{<pagination_prev}}
    {{$url}}index.html{{/url}}{{$title}}{{breadcrumbs_root}}{{/title}}
    {{/pagination_prev}}
  {{/prev}}
  </div>
  <div id="pagination-next" class="flex-fill text-right">
  {{#next}}
    {{<pagination_next}}
    {{$class}}{{{primary_language}}}{{/class}}{{$url}}{{{primary_url}}}{{/url}}{{$title}}{{primary_title}}{{/title}}
    {{/pagination_next}}
    {{<pagination_next}}
    {{$class}}{{{secondary_language}}} j2-secondary{{/class}}{{$url}}{{{secondary_url}}}{{/url}}{{$title}}{{secondary_title}}{{/title}}
    {{/pagination_next}}
  {{/next}}
  {{^next}}
    {{<pagination_next}}
    {{$url}}index.html{{/url}}{{$title}}{{breadcrumbs_root}}{{/title}}
    {{/pagination_next}}
  {{/next}}
  </div>
</nav>
