{{#topics.count}}
<div class="{{{topics_language}}}{{#mixed}} j2-always{{/mixed}}">
<hr/>
<section>
  <h1 class="sr-only">{{l_topics}}</h1>
  {{#topics}}
  {{> topic}}
  {{/topics}}
</section>
</div>
{{/topics.count}}
